##Tex documents
*.aux
*.log
*.toc
*.lof
*.synctex.gz
*.out
src-esterni
##Others
.DS_Store
*.notes
.vscode/
RTB/images
*.lof
.DS_Store
src-esterni

##Python
*.py~

##Others
*.notes
.vscode
RTB/images
*.lot
.DS_Store
src-esterni

##Others
norme_di_progetto.notes
.vscode/
.vscode
*.notes
RTB/Verbali/Interni/images
RTB/Verbali/Esterni/images
