<nav class="navbar">
    <div class="nav-container">
        <button class="mobile-theme-toggle">
            <i class="fas fa-sun"></i>
        </button>
        <button class="hamburger" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-logo">
            <a href="index.html">
                <img src="images/Sevenbitslogo.png" alt="Seven Bits Logo">
                <span class="home-text">Home</span>
            </a>
        </div>
        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="documentation.html">Documentazione</a>
            <a href="glossary.html">Glossario</a>
            <button class="theme-toggle" aria-label="Toggle dark mode">
                <i class="fas fa-sun"></i>
            </button>
        </div>
    </div>
</nav>

